<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>JavaServlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>JavaServlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>JavaServlet.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>JavaServlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCart</servlet-name>
        <servlet-class>JavaServlet.UserCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostReview</servlet-name>
        <servlet-class>JavaServlet.PostReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearch</servlet-name>
        <servlet-class>JavaServlet.ProductSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Description</servlet-name>
        <servlet-class>JavaServlet.Description</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCart</servlet-name>
        <url-pattern>/UserCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostReview</servlet-name>
        <url-pattern>/PostReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearch</servlet-name>
        <url-pattern>/ProductSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Description</servlet-name>
        <url-pattern>/Description</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
